/* import font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand');
/* body base design */
body {
    font-family: Quicksand, Verdana, "Times New Roman";
    font-size: 16px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: #ecfdcc;
    color:#2C3A0E;
}

/*Header config*/
header {
    position: fixed;
    top: 0px;
    width: 100vw;
    color: whitesmoke;
    margin: inherit;
    background: #0c950c;
    background-repeat: no-repeat;
    z-index: 999;
}

h1 {
    margin: inherit;
    padding: 0.5rem 1rem 0rem 1rem;
}

h2 {
    margin: 10px 0px 0px 0px;
    padding: 0rem 1rem 1rem 1rem;
}

.yellow-stg {
    background-image: url("../images/coffee-bean-1637878.jpg");
    background-size: cover;
    background-position-y: top
}

/*navigation bar*/
.navbar {
    margin: 100px 0px 0px 0px;
    position: fixed;
    top: 0px;
    width: 100vw;
    background-color: #014901;
    overflow: auto;
    z-index: 10;
}

.navbar a {
    color: whitesmoke;
    display: block;
    text-align: center;
}

nav div>div {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 170px;
    padding: 0px 20px 0px 20px;
    z-index: 10;
}

button {
    position: relative;
    text-align: center;
    border: none;
    color: whitesmoke;
    background-color:#016401;
    width: inherit;
    height: 30px;
    border-radius: 10px;
    margin-top: 10px;
    font-size: inherit;
    margin-bottom: 10px;
}

div .actual {
    background-color: #9ACD32;
    z-index: 20;
}

.actual button {
    color:#2C3A0E;
}

.sub {
    background-color: #016401;
}

.actual>button~a {
    display: none;
    font-size: smaller;
    visibility: hidden;
    opacity: 0;
    color: whitesmoke;
}
.actual .fa-caret-down {
    display: inline-block;
    color: #2C3A0E;
}
.actual .fa-caret-up {
    display: none;
    color: #2C3A0E;
}

.bld {
    font-weight: bold;
    text-align: center;
}

a {
    text-decoration: none;
}

/* paragraph styling*/
img {
    position: relative;
    left: 10px;
    object-fit: scale-down;
}

section, div {
    position: relative;
    /*top: 150px;*/
}

section > p {
    position: relative;
}

section>div {
    position: relative;
    display: inline-block;
    width: 100%;
}

section a {
    color:#2C3A0E;
}

h3 {
    padding-left:10px;
}

/* create space so that linked content is not hidden behind the header */
/* source: https://stackoverflow.com/questions/13036142/anchor-links-to-start-below-the-header-which-is-fixed-at-the-top/62693578#62693578 */
h3::before {
    content: '';
    display: block;
    visibility: hidden;
    height: 160px;      /* this is the height of your header */
    margin-top: -160px; /* this is the height of your header, negated */
}

p {
    text-align: justify;
    padding: 0px 20px 0px 10px;
}

.sub > p {
    text-align:center;
}

video {
    max-width: 100%;
    height: auto;
}

p>a {
    display: inline-block;
    width: 80px;
}

.fa-caret-up {
    color:#2C3A0E;
    width: 30px;
    text-align:center;
}

.go-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #9ACD32;
    opacity: 0.5;
    z-index: 50;
    border-radius: 2px;
}

.go-to-top:hover {
    cursor: pointer;
    opacity:0.8;
    border-radius:15px;
}

.below-header {
    top:150px;
}

.inln {
    display: inline-block;
    max-width: 60vw;
}

.icon {
    max-height: 100px;
}

.heading {
    position: absolute;
    left: 220px;
    top: 20px;
}

.goldenratio-height {
    max-height: 22vw;
}

.AuDiv {
    position: relative;
    display: inline-block;
    max-height: inherit;
    height: auto;
}

.ratio1of2 {
    width: 44vw;
    padding: 2vw;
}

.ratio1of3 {
    width: 33vw;
    margin-left: 2%;
}

.ratio2of3 {
    width: auto;
}

.AuDiv > img {
    position: relative;
    max-height: inherit;
    width: 100%;
    left: 0px;
}

.img1of2 {
    display: block;
    left: 0px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.metab {
    max-width: 90%;
}

.img-to-wrap {
    float: left;
    margin-top: 0.5em;
    padding-right: 20px;
}

.wrap {
    position: relative;
    margin-block-start: 0px;
}

.fonticon {
    max-height: 20px;
}

#coffee-yellow {
    display: block;
    max-height:300px;
}

#dev-seed {
    display: block;
    max-width: 100%;
}

#flower2seed~div {
    object-fit: contain;
    margin-right: 30px;
}

/* footer */
footer {
    position: relative;
    bottom: -160px;
    width: 100%;
    background-color: #014901;
    color: whitesmoke;
    padding-top:5px;
    padding-bottom: 5px;
    background-image: url("../images/coffee-bean-1637878.jpg");
    background-size: cover;
    background-position-y: bottom;
}

footer > div > div {
    text-align: justify;
    width: 100%;
}

footer span{
    display: inline-block;
    width: 30%;
    text-align: center;
}

footer a {
    color: whitesmoke;
}

.txtleft {
    text-align: left;
}

#ipk {
    width: 80px;
    display: inline-block;
}

i {
    color: whitesmoke
}

/* hover functions */
@media (hover:hover) {
    .actual:hover>button~a {
        visibility: visible;
        opacity: 1;
    }

    .actual:hover .sub {
        display: block;
    }

    .actual:hover .fa-caret-down {
        display: none;
    }

    .actual:hover .fa-caret-up {
        display: inline-block;
    }

    a:hover {
        text-decoration: underline;
    }

    .navbar a:hover {
        text-decoration: underline;
        background-color: #016401;
        z-index: 40;
    }

    nav div>div:hover {
        background-color: #016401;
        z-index: 30;
    }
}

/* hoverless media */
@media (hover:none) {
    button:active > button~a {
        visibility: visible;
        opacity: 1;
        background-color:#014901;
    }
}
/* responsive design screen size related rules */
@media screen and (max-width: 640px) {
    nav div>div {
        display: inline-block;
        vertical-align: top;
        text-align: center;
        width: 25vw;
        padding: 0px 20px 0px 20px;
        z-index: 10;
    }
}

@media screen and (max-width: 520px) {
    body {
        font-size:smaller;
    }

    header {
        height: 118px;
    }

    .navbar {
        margin: 118px 0px 0px 0px;
        width: 83px;
        position: fixed;
        top: 0px;
    }

    nav div>div {
        padding: 0px 0px 0px 0px;
        width: inherit;
        z-index: 10;
        font-size: smaller;
    }

    .actual .sub {
        display: block;
        visibility: visible;
        opacity: 1;
        text-align: center;
    }

    nav #actual {
        background-color: #016401;
    }

    section {
        margin-left: 80px;
        font-size: 90%;
    }

    h3::before {
        height: 118px;      /* this is the height of your header */
        margin-top: -118px; /* this is the height of your header, negated */
    }

    h3, h4 {
        padding-right: 10px;
    }

    ol {
        padding-inline-start: 30px;
        padding-inline-end: 20px;
    }

    p>a {
        width:50px;
    }

    footer {
        font-size: xx-small;
    }

    footer p~p {
        padding-right:60px;
    }
    
    .below-header {
        top: 110px;
    }

    .goldenratio-height {
        max-height: 75%;
    }

    .ratio1of3 {
        width: auto;
        margin-right: 20px;
        margin-left: 5px;
    }

    .ratio2of3 {
        margin-right: 20px;
        margin-left: 5px;
        width: auto;
    }

    .icon {
        max-height: 100px;
        width: 92%;
    }
    
    .inln {
        display: inline-block;
        max-width: 100%;
    }
    
    .heading {
        position: relative;
        left: 0px;
        top: 0px;
        padding-left:10px;
    }

    .ratio1of2 {
        width: 40%;
    }

    .img1of2 {
        height: 180px;
    }

    .img-to-wrap {
        float: left;
        margin-top: 0em;
        margin-bottom: 0.5em;
        padding-right: 20px;
        width:50%;
    }

    .crop-frame {
        object-fit: cover;
        height: 200px;
        max-width: 100%;
        overflow: hidden;
        margin-left: 10px;
        margin-right: 1.5em;
    }

    .crop-frame > img, #coffee-yellow {
        left: -5%;
        max-height: 100%;
    }

    .fonticon {
        max-height: 10px;
    }

    #flower2seed~div {
        object-fit: contain;
        margin-right: 30px;
    }

    #dev-seed {
        width: 600px;
        content: url("../images/coffe-dev2.png");
    }

    #ipk {
        width:50px;
    }
}

@media screen and (max-width: 290px) {
    .navbar {
        margin: 118px 0px 0px 0px;
        width: 82px;
        position: fixed;
        top: 0px;
    }

    nav div>div {
        padding: 0px 0px 0px 0px;
        width: inherit;
        z-index: 10;
        font-size: smaller;
    }

    .actual .sub {
        display: block;
        visibility: visible;
        opacity: 1;
        text-align: center;
    }

    nav #actual {
        background-color: #016401;
    }

    section {
        margin-left: 80px;
        font-size: 90%;
    }

    h3::before {
        height: 118px;      /* this is the height of your header */
        margin-top: -118px; /* this is the height of your header, negated */
    }

    h3, h4 {
        padding-right: 10px;
    }

    ol {
        padding-inline-start: 30px;
        padding-inline-end: 20px;
    }

    p>a {
        width:50px;
    }

    footer {
        font-size: xx-small;
    }

    footer p~p {
        padding-right:60px;
    }

    .below-header {
        top: 110px;
    }

    .goldenratio-height {
        max-height: 75%;
    }

    .ratio1of3 {
        width: auto;
        margin-right: 20px;
        margin-left: 5px;
    }

    .ratio2of3 {
        margin-right: 20px;
        margin-left: 5px;
    }

    .icon {
        max-height: 100px;
        width: 92%;
    }
    
    .inln {
        display: inline-block;
        max-width: 100%;
    }

    .heading {
        position: relative;
        left: 0px;
        top: 0px;
        padding-left:20px;
    }

    .ratio1of2 {
        width: 90%;
    }

    .img1of2 {
        height: 200px;
    }

    .img-to-wrap {
        float: left;
        margin-top: 0em;
        margin-bottom: 0.5em;
        padding-right: 20px;
        width:85%;
    }

    .crop-frame {
        object-fit: cover;
        height: 200px;
        max-width: 100%;
        overflow: hidden;
        margin-left: 10px;
        margin-right: 1.5em;
    }

    .crop-frame > img, #coffee-yellow {
        left: -32%;
        max-height: 100%;
    }

    .fonticon {
        max-height:10px;
    }

    #flower2seed~div {
        object-fit: contain;
        margin-right: 30px;
    }

    #dev-seed {
        width: 300px;
    }
}