@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    font-family: Quicksand, Verdana, "Times New Roman";
    /*Verdana, Geneva, Tahoma, sans-serif;*/
    font-size: 16;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: #067e06;
}

/*Header config*/
header {
    color: whitesmoke;
    margin: inherit;
    background: #067e06;
    background-repeat: no-repeat;
}

h1 {
    margin: inherit;
    padding: 0.5rem 1rem 0rem 1rem;
}

h2 {
    margin: 10px 0px 0px 0px;
    padding: 0rem 1rem 1rem 1rem;
}

/*navigation bar*/
.navbar {
    position: relative;
    width: 100vw;
    background-color: #014901;
    overflow: auto;
    z-index: 3;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #014901;
}

.navbar li {
    display: inline-block;
}

.navbar li a {
    color: white;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
}

/* Style the dropdown menu */
.navbar ul ul {
    position: absolute;
    top: 100%;
    display: none;
}

.navbar ul ul li {
    display: block;
}

.navbar li:hover ul {
    display: block;
}

/* Change the background color of dropdown links on hover */
.navbar ul ul li a:hover {
    background-color: #555;
}