@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    font-family: Quicksand, Verdana, "Times New Roman";
    /*Verdana, Geneva, Tahoma, sans-serif;*/
    font-size: 16;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: #ecfdcc;
}

/*Header config*/
header {
    position: fixed;
    width: 100vw;
    color: whitesmoke;
    margin: inherit;
    background: #0c950c;
    background-repeat: no-repeat;
    z-index: 999;
}

h1 {
    margin: inherit;
    padding: 0.5rem 1rem 0rem 1rem;
}

h2 {
    margin: 10px 0px 0px 0px;
    padding: 0rem 1rem 1rem 1rem;
}

/*navigation bar*/
.navbar {
    margin: 100px 0px 0px 0px;
    position: relative;
    width: 100vw;
    background-color: #014901;
    overflow: auto;
    z-index: 10;
}

.navbar a {
    color: white;
    display: block;
    text-align: center;
    text-decoration: none;
}

nav div>div {
    display: inline-block;
    vertical-align: top;
}

.n3>a~a {
    display: none;
    font-size: smaller;
}

.bld {
    font-style: bold;
}

.n3:hover .sub {
    display: block;
}

a:hover {
    text-decoration: underline;
    background-color: #016401;
    z-index: 40;
}

div>div:hover {
    background-color: #016401;
    z-index: 30;
}

div .actual {
    background-color: #9ACD32;
    z-index: 20;
}